/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container-large, .flip-container-large .front, .flip-container-large .back {
	width: 10rem;
	height: 10rem;
}
.flip-container-medium, .flip-container-medium .front, .flip-container-medium .back {
	width: 8rem;
	height: 8rem;
}
.flip-container-small, .flip-container-small .front, .flip-container-small .back {
	width: 6rem;
	height: 6rem;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}